In [66]:
!pip install requests --quiet
!pip install beautifulsoup4 --upgrade --quiet

In [5]:
import requests
from bs4 import BeautifulSoup

In [3]:
ur='https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page='

In [41]:
mobile_name=[]
mprice=[]
mrating=[]
speci=[]
for i in range(1,101):
  url=ur+str(i)
  response=requests.get(url)
  content=BeautifulSoup(response.content,'html.parser')
  name=content.find_all('div',{'class':'_4rR01T'})
  price=content.find_all('div',{'class':'_30jeq3 _1_WHN1'})
  rating=content.find_all('div',{'class':'_3LWZlK'})
  spec=content.find_all('ul',{'class':'_1xgFaf'})
  

  for i in name:
    mobile_name.append(i.text)
  for i in price:
    mprice.append(i.text)
  for i in rating:
    mrating.append(i.text)
  for i in spec:
    speci.append(i.text)

In [43]:
mobile_dict={
    'Mobile Name':mobile_name,
    'Price':mprice,
    'Specification':speci
}

In [44]:
import pandas as pd

In [45]:
df=pd.DataFrame(mobile_dict)

In [46]:
df

,Mobile Name,Price,Specification
0,Nuvo NF24,₹899,32 MB RAM | 32 MB ROM6.1 cm (2.4 inch) Display...
1,Nuvo FLASH,₹899,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB6...
2,"POCO C31 (Royal Blue, 64 GB)","₹7,999",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...
3,"POCO C31 (Shadow Gray, 64 GB)","₹7,999",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...
4,"POCO C31 (Royal Blue, 32 GB)","₹6,999",3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...
...,...,...,...
931,"Infinix Hot 10 (Moonlight Jade, 64 GB)","₹11,999",4 GB RAM | 64 GB ROM | Expandable Upto 256 GB1...
932,"SAMSUNG Galaxy A70s (Prism Crush Red, 128 GB)","₹30,500",8 GB RAM | 128 GB ROM | Expandable Upto 512 GB...
933,Good One Magic,"₹1,499",32 MB RAM | 32 MB ROM4.32 cm (1.7 inch) Displa...
934,Itel Power 110,"₹1,269",4 MB RAM | 4 MB ROM | Expandable Upto 32 GB4.5...
935,"REDMI Note 10 Pro Max (Vintage Bronze, 128 GB)","₹17,884",6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...

In [47]:
df.to_csv('Mobile.csv',index=None)